<div id="content"></div>

<script id="template" type="text/x-handlebars-template">
{{#each channels}}
	<a href="/channels/{{id}}">{{name}}</a>
{{/each}}
</script>

<script id="render" type="text/javascript">
Handlebars.registerHelper('each', function(context, block) {
  var ret = "";
  for(var i=0, j=context.length; i<j; i++) {
    ret = ret + block(context[i]);
  }
  return ret;
});

$.getJSON('/channels.json', function(channels) {
	var source   = $("#template").html();
	var template = Handlebars.compile(source);
	var compiled = template(channels);

	$('#content').html(compiled);
	$('#template').remove();
	$('#render').remove();
});
</script>