<%
	m = JSON.parse(message)
	message_class = "message clearfix other"
	message_class = "message clearfix self" if current_user.id == m['uid']
%>
<div id="message_<%= m['uid'] %>" class="<%= message_class %>">
	<div class="person"><%= truncate(m['name'], :length => 10, :omission => '.') %></div>
	<div class="body"><%= m['body'] %></div>
</div>